In [2]:
import pandas as pd
from sklearn.linear_model import LinearRegression

In [3]:
df= pd.read_csv("C:\\Users\\ALLAN\\Desktop\\Business Analitics con Python y ChatGPT\\peliculas.csv")

In [4]:
def convertir_a_numero(valor):
    valor_limpio=valor.replace('$', '').replace(',','')
    return pd.to_numeric(valor_limpio, errors='coerce')

In [5]:
df['Presupuesto']=df['Presupuesto'].apply(convertir_a_numero)

In [6]:
df['TaquillaInternacional']=df['TaquillaInternacional'].apply(convertir_a_numero)

In [7]:
df['TaquillaEEUU']=df['TaquillaEEUU'].apply(convertir_a_numero)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5340 entries, 0 to 5339
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Ranking                5340 non-null   int64
 1   Estreno                5340 non-null   object
 2   Pelicula               5340 non-null   object
 3   Presupuesto            5340 non-null   int64
 4   TaquillaInternacional  5340 non-null   int64
 5   TaquillaEEUU           5340 non-null   int64
dtypes: int64(4), object(2)
memory usage: 250.4+ KB

In [10]:
df['Estreno']=pd.to_datetime(df['Estreno'])

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5340 entries, 0 to 5339
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Ranking                5340 non-null   int64
 1   Estreno                5340 non-null   datetime64[ns]
 2   Pelicula               5340 non-null   object
 3   Presupuesto            5340 non-null   int64
 4   TaquillaInternacional  5340 non-null   int64
 5   TaquillaEEUU           5340 non-null   int64
dtypes: datetime64[ns](1), int64(4), object(1)
memory usage: 250.4+ KB

In [12]:
df['RecaudacionTotal']=df['TaquillaInternacional']+df['TaquillaEEUU']

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5340 entries, 0 to 5339
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Ranking                5340 non-null   int64
 1   Estreno                5340 non-null   datetime64[ns]
 2   Pelicula               5340 non-null   object
 3   Presupuesto            5340 non-null   int64
 4   TaquillaInternacional  5340 non-null   int64
 5   TaquillaEEUU           5340 non-null   int64
 6   RecaudacionTotal       5340 non-null   int64
dtypes: datetime64[ns](1), int64(5), object(1)
memory usage: 292.2+ KB

In [14]:
df.head()

,Ranking,Estreno,Pelicula,Presupuesto,TaquillaInternacional,TaquillaEEUU,RecaudacionTotal
0,1,2009-12-18,Avatar,469625000,3077483239,840954122,3918437361
1,2,2015-12-18,Star Wars Ep. VII: The Force Awakens,338130000,2275748157,1035742355,3311490512
2,3,2007-05-24,Pirates of the Caribbean: At Worldâ€™s End,331500000,1065013109,342150918,1407164027
3,4,2015-06-11,Spectre,331500000,972376949,221238021,1193614970
4,5,2012-07-20,The Dark Knight Rises,303875000,1198793202,495543253,1694336455

In [17]:
df_filtrado =df[df['Estreno']<'2018-05-01']
df_filtrado.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5333 entries, 0 to 5339
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Ranking                5333 non-null   int64
 1   Estreno                5333 non-null   datetime64[ns]
 2   Pelicula               5333 non-null   object
 3   Presupuesto            5333 non-null   int64
 4   TaquillaInternacional  5333 non-null   int64
 5   TaquillaEEUU           5333 non-null   int64
 6   RecaudacionTotal       5333 non-null   int64
dtypes: datetime64[ns](1), int64(5), object(1)
memory usage: 333.3+ KB

In [18]:
x=df_filtrado[['Presupuesto']]

In [19]:
y=df_filtrado[['RecaudacionTotal']]

In [20]:
modelo= LinearRegression()

In [21]:
modelo.fit(x,y)

LinearRegression()

In [23]:
Intercepto = modelo.intercept_

In [24]:
coeficiente= modelo.coef_[0]

In [25]:
Intercepto

array([-2037587.27425268])

In [26]:
coeficiente

array([4.23875169])